<header id="header" class="site-header" style="max-heigth:100%; background-image: url(/assets/{{ site.bg-image}})">

    <div id="logo" class="logo">Website Fuze</div>
    <nav>
      <a href="#about" style="color:white;">About me</a>
      <a href="#work" style="color:white;" >Work</a>
      <a href="#social" style="color:white;">Social Links</a>
      <a href="#contact" style="color:white;">Contact</a>
    </nav>

    <h1><span class="perimeter"><span class="typed-area">Harman Dhillon</span><span class="typed-cursor"></span> </span></h1>
    <p class="kicker">
      Thinker // Designer // FullStack Developer
    </p>

  </div>

</header>
