<section class="alt-section">

  <h3 id="work" >Work</h3>

  <div class="thumnails-container">

    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>

    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>
    
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>

  </div>

</section>
