<section class="alt-section section-work">

  <h3 id="work" >Work</h3>

  <div class="work-slider">

    <div class="thumb-wrap">
      <div class="thumbnails-container">
        <a class="thumb-unit" data-work="1" style="background-image: url(/assets/work/image_1.jpg">
          <div class="thumb-overlay">
            <strong>Typo international</strong>
            <div class="zoom-icon">{% include /icons/search.html %}</div>
          </div>
        </a>

        <a class="thumb-unit" data-work="2" style="background-image: url(/assets/work/image_2.jpg">
          <div class="thumb-overlay">
            <strong>Murph!!!s</strong>
            <div class="zoom-icon">{% include /icons/search.html %}</div>
          </div>
        </a>

        <a class="thumb-unit" data-work="3" style="background-image: url(/assets/work/image_3.jpg">
          <div class="thumb-overlay">
            <strong>Typo international</strong>
            <div class="zoom-icon">{% include /icons/search.html %}</div>
          </div>
        </a>
        <a class="thumb-unit" data-work="4" style="background-image: url(/assets/work/image_4.jpg">
          <div class="thumb-overlay">
            <strong>Typo international</strong>
            <div class="zoom-icon">{% include /icons/search.html %}</div>
          </div>
        </a>
        <a class="thumb-unit" data-work="5" style="background-image: url(/assets/work/image_5.jpg">
          <div class="thumb-overlay">
            <strong>Typo international</strong>
            <div class="zoom-icon">{% include /icons/search.html %}</div>
          </div>
        </a>
        <a class="thumb-unit" data-work="6" style="background-image: url(/assets/work/image_6.jpg">
          <div class="thumb-overlay">
            <strong>Typo international</strong>
            <div class="zoom-icon">{% include /icons/search.html %}</div>
          </div>
        </a>
        <a class="thumb-unit" data-work="7" style="background-image: url(/assets/work/image_7.jpg">
          <div class="thumb-overlay">
            <strong>Typo international</strong>
            <div class="zoom-icon">{% include /icons/search.html %}</div>
          </div>
        </a>
        <a class="thumb-unit" data-work="8" style="background-image: url(/assets/work/image_8.jpg">
          <div class="thumb-overlay">
            <strong>Typo international</strong>
            <div class="zoom-icon">{% include /icons/search.html %}</div>
          </div>
        </a>
      </div>

    </div>

    <div class="work-wrap">
      <div class="work-container">
        <div class="work-return">
          {% include icons/return.html %}
        </div>
        <h4 class="project-title"></h4>
        <div class="project-load">

        </div>
      </div>
    </div>

  </div>

</section>
