<section class="alt-section">

  <h3 id="work" >Work</h3>

  <div class="thumbnails-container">

    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon">{% include /icons/search.html %}</div>
      </div>
    </a>

    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon">{% include /icons/search.html %}</div>
      </div>
    </a>

    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon">{% include /icons/search.html %}</div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon">{% include /icons/search.html %}</div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon">{% include /icons/search.html %}</div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon">{% include /icons/search.html %}</div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon">{% include /icons/search.html %}</div>
      </div>
    </a>
    <a class="thumb-unit">
      <div class="thumb-overlay">
        <strong>Typo international</strong>
        <div class="zoom-icon">{% include /icons/search.html %}</div>
      </div>
    </a>

  </div>

</section>
